*{
    margin: 0;
    padding: 0;
}

body, html {
    background-color:rgb(122, 133, 180,0.8);
    text-align: center;
    font-family: 'Lato', sans-serif;
    border-image-width: 0%;
    background-image:url('img/background.jpg');
    background-position: top;
    width:100%;
    height:1000px;
}

#welcome {
    background-color: white;
    opacity: 0.7;
}

#dica {
    color: rgb(161, 62, 62);
}

h1 { 
    font-family: 'Orbitron', sans-serif;
    font-size: 45px; 
    line-height: 70px; 
    text-shadow:rgb(255, 255, 255) 1px -1px, rgb(255, 255, 255) -1px 1px, rgb(255, 255, 255) 1px 1px, rgb(255, 255, 255) -1px -1px;
}

h3 { 
    font-size: 28px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 38px;  
    font-weight: bold;
}

p, a { 
    font-size: 22px; 
    font-style: normal; 
    font-variant: normal; 
    line-height: 28px; 
    font-weight: bold;
}

.hide{
    display: none;
}

input {
    height: 30px;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

textarea {
    height: 30px;
    font-size: 20px;
    margin-bottom: 15px;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

@media (min-width: 1170px) {
    .container {
        max-width: 1170px;
        padding: 0;
    }
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}

.row:before,
.row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}

.col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-right: -4px;
    *zoom: 1;
    *display: inline;
    
} 

@media (min-width: 480px) {
    .col-2 {
        width: 50%;
    } 
}

.box {
    background: #61558b;
    padding: 5px;
    text-align: center;
    margin: 6px 0;
    color: rgb(220, 222, 228);
    border-radius: 46px;
    background-image: url('img/fundo.jpg');
    text-shadow:#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px;
}

.big {
    height: 50px;
}

#return:hover{
    color: #6FD4F8;
}

.button-category, .button {
    width: 150px;
    height: 50px;
    border:none;
    border-radius: 5px;
    background-color: #432b5a;
    color: white;
    font-weight: bold;
    outline: none;
    cursor: pointer;  
    margin: 20px;  
}

.button {
    margin-top: -10px;
}

.button-category:hover{
    background-color: #834CA2;
  }  

  .button:hover{
    background-color: #834CA2;
  }  

  